img{
  
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    border: 3px solid white;
   
}

#col-s-left{
    width: 0.3rem;
}


#col-left{
    font-family: "Lato", sans-serif;
    color: white;
    background-color: rgb(112, 112, 236);
}
#col-right{
    color: white;
    background-color: rgb(8, 8, 139);
}
#col-body{
  
   
}


h1{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
}
h3{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.h4{
    font-size: 1.3rem;
}

h5{
    font-size: 0.8rem;
}
.h5{
    font-size: 0.8rem;
}
#about-me{
   
    font-weight: bold;
    font-size: 1.9rem;
    color: rgb(8, 8, 139);
    font-family: "Lato", sans-serif;
}

a:hover{
    color: rgb(187, 201, 26);
}
.small{
    width: 53rem;
}
#about-line{
    border: 1px solid rgb(8, 8, 139);
    margin-left: 2.9rem;
    width: 52rem;
}
#contact-line{
   
    border: 0.12rem solid white;
}